@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo {
  font-family: "Montserrat" !important;
}

/* Custom scrollbar styles */
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #b7b7b7 #f1f1f1; /* Firefox scrollbar color */
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 10px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.custom-select {
  border-radius: 0.5rem !important;
}

/* Target autofilled input fields in Webkit browsers (Chrome, Safari) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--white, #ffffff) inset !important;
  -webkit-text-fill-color: var(--slate-700, #334155) !important;
  transition: background-color 5000s ease-in-out 0s;
}
