@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --primary: #ec4899; /* Pink-500 */
  --primary-600: #db2777; /* Pink-600 */
  --primary-700: #be185d; /* Pink-700 */
  --primary-light: #f472b6; /* Pink-400 */
  --primary-300: #f9a8d4; /* Pink-300 */
  --primary-200: #fbcfe8; /* Pink-200 */
  --primary-100: #fce7f3; /* Pink-100 */
  --primary-50: #faedf4; /* Pink-50 */

  --secondary: #06b6d4; /* Teal-500 (Main) */
  --secondary-600: #0891b2; /* Teal-600 */
  --secondary-400: #22d3ee; /* Teal-400 */
  --secondary-100: #defbfe; /* Teal-100 */
  --secondary-800: #164e63; /* Teal-800 */
  /*  Neutral Colors  */
  --black: #1f2937; /* Dark slate gray for body text */
  --white: #ffffff; /* White background */
  --gray: #6b7280; /* Gray-500  */
  --gray-light: #d1d5db; /* Gray-300 */
  --gray-lighter: #f3f4f6; /* Gray-100 */
  --accent: #f59e0b; /* Amber-500 for accents */
  --red: #ef4444; /* Red-500 for errors and warnings */
  --blue-700: #1d4ed8; /* Blue-700 */
  --blue-100: #dbeafe; /* Blue-100  */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Nata Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #b7b7b7 #f1f1f1; /* Firefox scrollbar color */
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #fff; /* Color of the track */
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #b7b7b7; /* Color of the handle */
  border-radius: 10px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

.hidden-scrollbar {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.custom-select {
  border-radius: 0.5rem !important;
}
